# Task 1: Try the algo on Dataset2 - OneHotEncoding of features and Train test Division 75%-25%

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
import numpy as np 
import pandas as pd
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

data = pd.read_csv("/content/drive/MyDrive/Dataset2.csv")
print(data)

   Outlook Temp Wind Humidity Class
0        R    H    F   Normal     N
1        R    H    T     High     N
2        O    H    F   Normal     Y
3        S    M    F   Normal     N
4        S    M    F   Normal     Y
5        S    M    T      Low     Y
6        O    C    T   Normal     Y
7        R    C    F   Normal     Y
8        R    C    F      Low     Y
9        S    M    F     High     Y
10       R    M    T     High     Y
11       O    M    T      Low     Y
12       O    H    F   Normal     Y
13       S    M    T   Normal     N

In [ ]:
dummy_humidity = pd.get_dummies(data['Humidity'])
data = data.drop(['Humidity'], axis=1)
data = pd.concat([dummy_humidity, data], axis=1)

dummy_wind = pd.get_dummies(data['Wind'])
data = data.drop(['Wind'], axis=1)
data = pd.concat([dummy_wind, data], axis=1)

dummy_temp = pd.get_dummies(data['Temp'])
data = data.drop(['Temp'], axis=1)
data = pd.concat([dummy_temp,data], axis=1)

dummy_outlook = pd.get_dummies(data['Outlook'])
data = data.drop(['Outlook'], axis=1)
data = pd.concat([dummy_outlook, data], axis=1)

print("\n\nFinal Data :\n", data)

Final Data :
     O  R  S  C  H  M  F  T  High  Low  Normal Class
0   0  1  0  0  1  0  1  0     0    0       1     N
1   0  1  0  0  1  0  0  1     1    0       0     N
2   1  0  0  0  1  0  1  0     0    0       1     Y
3   0  0  1  0  0  1  1  0     0    0       1     N
4   0  0  1  0  0  1  1  0     0    0       1     Y
5   0  0  1  0  0  1  0  1     0    1       0     Y
6   1  0  0  1  0  0  0  1     0    0       1     Y
7   0  1  0  1  0  0  1  0     0    0       1     Y
8   0  1  0  1  0  0  1  0     0    1       0     Y
9   0  0  1  0  0  1  1  0     1    0       0     Y
10  0  1  0  0  0  1  0  1     1    0       0     Y
11  1  0  0  0  0  1  0  1     0    1       0     Y
12  1  0  0  0  1  0  1  0     0    0       1     Y
13  0  0  1  0  0  1  0  1     0    0       1     N

In [ ]:
X = data.iloc[:, :-1] 
Y = data.iloc[:, -1] 

print("Data : \n", X) 
print("\nTarget: \n", Y)

Data :
     O  R  S  C  H  M  F  T  High  Low  Normal
0   0  1  0  0  1  0  1  0     0    0       1
1   0  1  0  0  1  0  0  1     1    0       0
2   1  0  0  0  1  0  1  0     0    0       1
3   0  0  1  0  0  1  1  0     0    0       1
4   0  0  1  0  0  1  1  0     0    0       1
5   0  0  1  0  0  1  0  1     0    1       0
6   1  0  0  1  0  0  0  1     0    0       1
7   0  1  0  1  0  0  1  0     0    0       1
8   0  1  0  1  0  0  1  0     0    1       0
9   0  0  1  0  0  1  1  0     1    0       0
10  0  1  0  0  0  1  0  1     1    0       0
11  1  0  0  0  0  1  0  1     0    1       0
12  1  0  0  0  1  0  1  0     0    0       1
13  0  0  1  0  0  1  0  1     0    0       1

Target:
 0     N
1     N
2     Y
3     N
4     Y
5     Y
6     Y
7     Y
8     Y
9     Y
10    Y
11    Y
12    Y
13    N
Name: Class, dtype: object

In [ ]:
from sklearn.model_selection import train_test_split

data_train, data_test, target_train, target_test = train_test_split(X, Y, test_size = 0.25, random_state = 93)

In [ ]:
import numpy as np
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()

#Train the model using the training sets
gnb.fit(data_train, target_train)

#Predict the response for test dataset
target_pred = gnb.predict(data_test)

In [ ]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(target_test, target_pred))

Accuracy: 0.75

In [ ]:
#Import confusion_matrix from scikit-learn metrics module for confusion_matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(target_test, target_pred)

array([[1, 0],
       [1, 2]])

In [ ]:
from sklearn.metrics import precision_score, recall_score

precision = precision_score(target_test, target_pred, average=None)
recall = recall_score(target_test, target_pred, average=None)

print('precision: {}'.format(precision))
print('recall: {}'.format(recall))

precision: [0.5 1. ]
recall: [1.         0.66666667]

In [ ]:
q1 = [0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1]
q2 = [0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0]


features = X.columns.tolist()
print(features)
df = pd.DataFrame([q1,q2], columns = features)
df.head()

['O', 'R', 'S', 'C', 'H', 'M', 'F', 'T', 'High', 'Low', 'Normal']

   O  R  S  C  H  M  F  T  High  Low  Normal
0  0  1  0  0  0  1  1  0     0    0       1
1  0  0  1  1  0  0  0  1     1    0       0

In [ ]:
output = gnb.predict(df)
print("Class predicted:\nq1: {}\nq2: {}".format(output[0], output[1]))

Class predicted:
q1: N
q2: Y